<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <img src="img/youtube.png" alt="" class="w-25">
    </header>

    <%- include('partials/navigation')%>

    <h1>Hola Mundo</h1>

    <div id="mostrarPeliculas">

    </div>


    <%- include('partials/footer')%>

    <script>
        async function getPeliculas(){
            try {
                const response = await fetch('http://localhost:3000/api/get-peliculas',{
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' },
                })
                if(response.ok){
                    const peliculas = await response.json()
                    console.log('Peliculas encontradas')
                    console.log(peliculas)
                    mostrarPeliculas(peliculas)
                }

            } catch (error) {
                
            }
        }
        function mostrarPeliculas(peliculas){
            const mostrarPeliculasDiv = document.getElementById('mostrarPeliculas');
            mostrarPeliculasDiv.innerHTML=''
            peliculas.forEach(pelicula=>{
                const peliculaDiv= document.createElement('div')
                peliculaDiv.classList.add('pelicula')
                const titulo=document.createElement('h1')
                titulo.textContent=pelicula.titulo
                const imagen = document.createElement('img')
                imagen.src=pelicula.url
                imagen.alt = pelicula.titulo

                peliculaDiv.appendChild(titulo)
                peliculaDiv.appendChild(imagen)
                mostrarPeliculasDiv.appendChild(peliculaDiv)
            })
        }
        window.addEventListener('DOMContentLoaded', getPeliculas);
    </script>
</body>
</html>