<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <img src="img/youtube.png" alt="" class="w-25">
    </header>

    <%- include('partials/navigation')%>

    <h1>Hola Mundo</h1>


    <div>
        <form id="miForm">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" id="titulo">
            </div>
            <div>
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" id="descripcion">
            </div>
            <div>
                <label for="url">Url</label>
                <input type="text" name="url" id="url">
            </div>
            <button onclick="enviarPelicula()" type="button">Guardar Pelicula</button>
        </form>
    </div>
    <div id="mostrarPeliculas">

    </div>


    <%- include('partials/footer')%>

    <script>
        async function getPeliculas(){
            try {
                const response = await fetch('http://localhost:3000/api/get-peliculas',{
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' },
                })
                if(response.ok){
                    const peliculas = await response.json()
                    console.log('Peliculas encontradas')
                    console.log(peliculas)
                    mostrarPeliculas(peliculas)
                }

            } catch (error) {
                
            }
        }
        function mostrarPeliculas(peliculas){
            const mostrarPeliculasDiv = document.getElementById('mostrarPeliculas');
            mostrarPeliculasDiv.innerHTML=''
            peliculas.forEach(pelicula=>{
                const peliculaDiv= document.createElement('div')
                peliculaDiv.classList.add('pelicula')
                const titulo=document.createElement('h1')
                titulo.textContent=pelicula.titulo
                const imagen = document.createElement('img')
                imagen.src=pelicula.url
                imagen.alt = pelicula.titulo

                peliculaDiv.appendChild(titulo)
                peliculaDiv.appendChild(imagen)
                mostrarPeliculasDiv.appendChild(peliculaDiv)
            })
        }
        window.addEventListener('DOMContentLoaded', getPeliculas);
    </script>
    <script>
        function enviarPelicula(){
            var formulario = document.getElementById('miForm')
            var formData= new FormData(formulario)
            console.log(formData.get('titulo'))
            const dataPelicula={
                titulo:formData.get('titulo'),
                descripcion:formData.get('descripcion'),
                url:formData.get('url')
            }
            console.log(dataPelicula)
            fetch('http://localhost:3000/api/set-pelicula',{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dataPelicula)
            })
            .then(response=>{
                if(response.ok){
                    return response.json()
                }
                throw new Error("Error en al petición")
            })
            .then(data=>{
                console.log(data)
            })
            .catch(error=>{
                console.error("Error: ",error)
            }) 
        }
    </script>
</body>
</html>