<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, tenetur et similique a eaque magnam facere earum labore pariatur dolores vel! Inventore praesentium assumenda temporibus eos suscipit incidunt ipsam voluptatem.</h1>
</footer>